$output-font: 'Roboto Condensed', 'Trebuchet MS', Helvetica, sans-serif;
$key-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$box-sizing: border-box;
$shadow-color: #555;
$key-color-dark: #222;
$key-color-white: #fff;
$key-color-black: #000;
$key-color-light: #ff7;
$key-color-soft: #777;
$key-color-extra: #f56;