@use "global.scss" as global;

body {
  margin: 0;
  padding: 0;
  background: url("../images/wall.png") no-repeat fixed;
  background-size: cover;
  z-index: -2;
}

div#main-wrapper {
  position: relative;
  margin: 20px auto 0;
  width: 550px;
  height: 550px;

  img {
    position: absolute;
    box-sizing: global.$box-sizing;
    width: 100%;
    height: 100%;
    filter: drop-shadow(10px 10px 10px global.$shadow-color);
    z-index: -1;
  }

  div#output-container {
    display: flex;
    width: 100%;
    height: 40%;
    padding: 0;
    justify-content: flex-end;

    output {
      // border: 1px solid cyan;
      display: block;
      position: relative;
      width: 100%;
      height: 90px;
      margin: auto 25px 30px;
      padding: 0 10px 0;
      box-sizing: border-box;
      overflow: hidden;

      span#output-operation {
        //  border: 1px solid lightgreen;
        position: absolute;
        top: 1px;
        left: 8px;
        font-size: 14pt;
        font-weight: bold;
        font-family: global.$output-font;
        white-space: nowrap;
      }
      
      span#output-memory {
        //  border: 1px solid lightgreen;
        position: absolute;
        bottom: 5px;
        left: 8px;
        font-size: 10pt;
        font-weight: bold;
        font-family: global.$output-font;
        white-space: nowrap;
      }
    }

    span#output-screen {
      // border: 1px solid yellow;
      display: block;
      position: absolute;
      bottom: 5px;
      right: 10px;
      max-width: calc(100% - 20px); /* keep inside padding */
      white-space: nowrap;
      overflow: hidden;
      margin: 0 auto 0 0;
      padding: 0 5px 0 0;
      text-align: right;
      font-size: 54pt;
      font-family: global.$output-font;
      letter-spacing: -2px;
      text-shadow: 3px 3px 5px global.$shadow-color;
    }

  }

  div#main-container {
    display: flex;
    height: auto;
    padding: 20px;

    div#keyboard {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: 45px auto auto auto auto;
      grid-row-start: 1;
      column-gap: 15px;
      row-gap: 10px;
      margin: auto;
      justify-items: center;
      align-items: end;

      button.btn-key {
        display: inline;
        width: 65px;
        height: auto;
        margin: 0;
        padding: 0;
        background: global.$key-color-dark;
        color: global.$key-color-light;
        font-family: global.$key-font;
        font-size: 20pt;
        box-sizing: global.$box-sizing;
        border-radius: 5px;
        text-shadow: -1px -1px 1px global.$key-color-soft;
        box-shadow: 3px 2px 5px global.$key-color-dark;

        &:active {
          position: relative;
          top: 2px;
          left: 1px;
          box-shadow: 1px 1px 2px global.$key-color-soft;
        }
      }

      button.memory {
        align-self: start;
        height: 30px;
        font-size: 14pt;
      }

      button.digits {
        height: 45px;
        background: global.$key-color-soft;
        color: global.$key-color-white;
        font-size: 22pt;
        text-shadow: -1px -1px 2px global.$key-color-dark;
      }

      button.controls {
        height: 45px;
      }

      button#mclear {
        grid-column-start: 2;
      }

      button#plus {
        height: 100%;
        grid-area: 4/5/6/6;
      }

      button#reset {
        background: global.$key-color-extra;
        color: global.$key-color-white;
      }

      button#power2 {
        sup {
          font-size: 12pt;
        }
      }
    }
  }

}